---
---

//
// IMPORTS
//

//@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background:#f7f6f2;
  font: $fontSize $helvetica;
  color: $darkGray;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color:$topicBg;
    text-decoration: none;
    color:#fff;
}
.nav > li > a{
	font-size:$fontSize*.85;
}
li.icons{
	padding-right:1rem;
}

.nav > li.icons >a {
	display:inline;
	padding:0;
	background-color:transparent;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $gray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  text-align:center;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

.site-header{
 margin-bottom:1rem;	
}

h2{
	color:$topicBg;
}

.post-list{
margin:15px 0;
	a{
		font-size:$fontSize*.75;
	}
}
aside h2 {
     background-color: $topicBg;
   border-bottom: 1px solid #09359b;
    border-radius: 0;
    border-top: 1px solid #09359b;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 0 5px;
    margin-top:1rem;
    padding: 10px 5px 5px 10px;
}

.tag-box a{
 font-size:$fontSize*.75;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $link;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $link;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}



/*********************/
/* LAYOUT / SECTIONS */
/*********************/



.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 1px;
  a{
  	color:$gray;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}


//
// .main
//


.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}
$h1Font:$fontSize;
.post {
  background-color: #fdfdfd;
    border: 1px solid #e5e2da;
    border-radius: 5px;
    margin: 1rem;
    margin-bottom: 1.25rem;
    padding: 25px 25px 10px;
    
  h1{
  	margin-top: 5px;
  	margin-bottom: 10px;
  	text-align:center;
  	font-size:$fontSize;
    	text-shadow: 1px 1px 1px #d0d0d0;
    	color:#333;
    
  }	
  
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-style: italic;
  }
.entry{
    color: #434356;
    font-family: $georgia;
    font-size: 1.1rem;
    line-height: 145%;
    text-shadow: 1px 1px 1px #f0f0f0;
    
    h2{
    	font-size:$h1Font*.85;
    	color:$gray;
    }
    
    h3{
    	font-size:$h1Font*.75;
    }
    
    
}
  .comments {
    margin-top: 10px;
    padding:0 25px;
  }

 footer{
 	text-align:center;
 	font-size:$fontSize*.75;
 }

  .read-more {
      font-size: 15px;
  }
}



footer {
  padding: 20px 0;
  text-align: center;
  font-size: $fontSize * .5;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
