
//
// VARIABLES
//

// Colors
$link:#0079d1;
//$link:#007f2e;
//$topicBg:#ff8235;
$topicBg:#BA0952;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: 'Roboto Slab',Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: 'Vollkorn', sans-serif;
$fontSize: 1em;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
